<div class="row">
    <div class="col-xs-9">
    <a href="#/feeds/<%= feed.id %>"><%= feed.escape("title") %></a>
    </div>
    <div class="col-xs-3">
    <button class="delete-feed btn" style="background:white;" data-id="<%= feed.id %>"><span class="glyphicon glyphicon-trash"></span></button>
    </div>
</div>
